* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --main-color: #8080FF;
}

body {
    height: 100%;
}

html {
    height: 100%;
}

.top-bar {
    width: 100%;
    height: 35px;
    background-color: #222;
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: calc(100% - 35px);
    width: 100%;
    background: radial-gradient(circle, rgba(79, 79, 255, 1) 0%, rgba(128, 128, 255, 1) 100%);
}

.top-bar-controls-flex {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.top-bar-title-flex {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.top-bar-title-flex i {
    line-height: 0 !important;
    margin: 0px 5px 0px 10px;
}

.minimize-button,
.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    -webkit-app-region: no-drag;
    height: 35px;
    width: 50px;
    transition: 0.2s all;
    font-size: 20px;
    cursor: pointer;
}

.minimize-button i::before,
.close-button i::before {
    line-height: 1.5 !important;
}

.minimize-button:hover {
    background-color: #333;
}

.close-button:hover {
    background-color: red;
}

#side-menu-button,
#account-menu-button {
    color: white;
    font-size: 30px;
    line-height: 0 !important;
    transition: 0.2s all;
    cursor: pointer;
    flex: 1;
    text-align: left;
}

#side-menu-button {
    text-align: left;
}

#account-menu-button {
    text-align: right;
}

#side-menu-button:hover,
#account-menu-button:hover {
    color: #222;
}

.dark-overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    transition: 0.5s all;
}

.modal {
    background-color: #222;
    width: 70%;
    height: 70%;
    border-radius: 10px;
    box-shadow: -2px 9px 27px -12px #000000;
    display: flex;
    flex-direction: column;
    z-index: 500;
    position: absolute;
    transition: 0.2s all;
}

.modal-title {
    font-size: 20px;
    color: white;
    border-bottom: 1px solid var(--main-color);
    padding: 15px;
}

.dialog-flex {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 35px);
    transition: 0.5s all;
}

.main-modal-navigation {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--main-color);
}

.main-modal-navitem {
    flex: 1;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    transition: 0.2s all;
    cursor: pointer;
}

.main-modal-navitem:hover {
    background-color: #222;
}

.main-content-top {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.door-controller {
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #333;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transition: 0.2s all;
    cursor: pointer;
    box-shadow: 1px 5px 17px -7px #000000;
    animation-name: scale;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-font-smoothing: subpixel-antialiased;
}

.door-controller:hover {
    color: #555;
}

.door-controller-animation {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 4px 4px 40px 20px #CB97FF, -4px -4px 40px 20px #35E4F2;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.main-modal-content {
    padding: 20px;
}

.door-controller-status-text {
    margin-top: 10px;
    border-top: 1px solid white;
}

.door-controller-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text-box-title {
    color: white;
    font-size: 15px;
    margin-right: 10px;
    text-align: left;
}

.text-box {
    border: 1px solid var(--main-color);
    outline: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: #333;
    transition: 0.2s all;
}

.text-box:hover {
    background-color: #444;
}

.text-box-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.select-button {
    padding: 10px;
    background-color: #333;
    text-align: center;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    transition: 0.2s all;
    color: white;
    cursor: pointer;
}

.select-button:hover {
    background-color: #444;
}

.normal-text {
    font-size: 15px;
    color: white;
}

.login-status {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: red;
}

#login-account-button {
    width: 100%;
    margin-top: 50px;
}

.notification-bar {
    position: absolute;
    background-color: #333;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    padding: 15px;
    align-items: center;
    color: white;
    transition: 0.2s all;
}

.notification-wrapper {
    z-index: 9999;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}